<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
            rel="stylesheet"
        />

        <title>Math Quiz</title>
    </head>
    <body>
        <div id="app">
            <div id="strecher" v-if="!gameOver">
                <div class="main">
                    <p>Build your tower faster than your opponent</p>
                    <p>Complete more than your opponent</p>
                    <p>in the time given to win</p>
                    <hr />
                    <h1>Math Race</h1>

                    <h2>{{ errorMessage }}</h2>
                    <br />
                    <br />
                    <br />

                    <div id="activity" v-if="running">
                        <h1>{{countDownTimer}}</h1>
                        <br />
                        <br />
                        <br />
                        <h2>{{ numOne }} x {{ numTwo }}</h2>
                        <input
                            type="text"
                            id="answerInput"
                            v-model="individualsGuess"
                        />

                        <br />
                        <button v-on:click="checkAnswer">Check Answer</button>
                    </div>
                    <div v-else>
                        <input
                            type="text"
                            placeholder="Name"
                            v-model="playerName"
                        />
                        <br />
                        <button v-on:click="readyUp">Ready</button>
                    </div>
                </div>
                <div id="section1" v-if="mainView">
                    <h2>{{playerOne}}'s Score = {{playerOneScore}}</h2>
                    <img class="tower" src="media/base.svg" alt="base" />
                    <div
                        v-for="score in playerOneScore"
                        v-if="playerOneScore > 0"
                    >
                        <img class="tower" src="media/level.svg" alt="level" />
                    </div>
                </div>

                <div id="section2" v-if="mainView">
                    <h2>{{playerTwo}}'s Score = {{playerTwoScore}}</h2>
                    <img class="tower" src="media/base.svg" alt="base" />
                    <div
                        v-for="score in playerTwoScore"
                        v-if="playerTwoScore > 0"
                    >
                        <img class="tower" src="media/level.svg" alt="level" />
                    </div>
                </div>
            </div>

            <div class="main" v-if="gameOver">
                <h1>{{errorMessage}}</h1>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>
